@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
body {
    background-color: bisque;
    font-family: 'Londrina Solid', cursive;
    padding: 0;
    margin: 0;
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'VT323', monospace; */
}

#heading {
    font-family: 'Slackey', cursive;
    font-size: 80px;
    margin: -5px;
    -webkit-text-stroke: black 1px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#styleChoice {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

#styleChoice li {
    margin: 0 20px;
    font-size: 1.5vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

#styleChoice li:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wood {
    background-image: url(/images/wood.jpg);
    background-size: cover;
    height: 60vh;
    /* width: 80%; */
    margin: 0 auto;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
}

#play {
    width: 6vw;
    height: 9vw;
    border: 2px black dashed;
    border-radius: 10px;
    margin-right: 5px;
}

#helper {
    text-align: center;
}

#play .card {
    margin: 0;
}

#deck {
    width: 6vw;
    height: 9vw;
    border: 2px black solid;
    border-radius: 10px;
    background-image: url(./images/cardback.jpg);
    background-size: contain;
}

#hand, #oppHand {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#oppHand .card {
    width: 4vw;
    height: 6vw;
    color: transparent;
    background-image: url(./images/cardback.jpg);
    background-size: contain;
}

#oppHand img {
    display: none;
}

.card {
    width: 6vw;
    height: 9vw;
    border: 2px black solid;
    border-radius: 10px;
    margin: 20px -5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#hand .card:hover {
    cursor: pointer;
    background-color: rgb(228, 223, 150);
}

.card p {
    font-size: 2vw;
    margin: 0 5px;
}

.leftValue {
    align-self: flex-start;
}

.rightValue {
    align-self: flex-end;
}

.suit {
    height: 50%;
}

button {
    display: block;
    margin: 10px auto;
    font-size: 1.5vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-family: 'Londrina Solid', cursive;
}

button:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

.red {
    color: red;
}

#controls {
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 0 auto;
}