@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Press+Start+2P&family=VT323&display=swap');

body {
    background-color: bisque;
    font-family: 'Londrina Solid', cursive;
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'VT323', monospace; */
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play {
    width: 100px;
    height: 150px;
    border: 1px black dashed;
    border-radius: 10px;
    margin-right: 5px;
}

#play .card {
    margin: 0;
}

#deck {
    width: 100px;
    height: 150px;
    border: 1px black solid;
    border-radius: 10px;
    background-image: url(./images/cardback.jpg);
    background-size: contain;
}

#hand {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    height: 150px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 20px -5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 40px;
    margin: 0 5px;
}

.leftValue {
    align-self: flex-start;
}

.rightValue {
    align-self: flex-end;
}

.suit {
    width: 60px;
    height: 60px;
}